# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/

# Tauri
src-tauri/target/
src-tauri/gen/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.*